@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #__next {
    @apply text-base capitalize font-poppins font-[400] text-theme-light-black bg-theme-ice-blue m-2 h-full;
  }
}

$theme-black: #1c1d1c;
$theme-light-black: #292d32;
$theme-light-blue: #618ef6;
$theme-ice-blue: #e1eafd;

.active {
  background: $theme-light-blue !important;
  color: $theme-ice-blue !important;
}

// custom scroll bar
::-webkit-scrollbar {
  width: 5px;
  height: 5px;

  &-button {
    width: 0px;
    height: 0px;
  }

  &-thumb {
    background: $theme-light-blue;
    border: none;
    border-radius: 50px;

    &:hover {
      background: $theme-light-blue;
    }

    &:active {
      background: $theme-light-blue;
    }
  }

  &-track {
    background: $theme-light-black;
    border: none;
    border-radius: 100px;

    &:hover {
      background: $theme-light-black;
    }

    &:active {
      background: $theme-light-black;
    }
  }

  &-corner {
    background: transparent;
  }
}
